<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <NavLink class="nav-link" href="">
            Články
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="eventlist">
            Události
        </NavLink>
    </li>
</ul>